:root{
    --bg-color1: #212529;
    --bg-color2: #2a2b2d;
    --aqi-1: #d4e120;
    --aqi-2: #ffee58;
    --aqi-3: #ffca30;
    --aqi-4: #ff7000;
    --aqi-5: #ff5900;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    background-color: var(--bg-color1);
    color: aliceblue;
    font-family: sans-serif;
    padding: 0 15px;
}
.fa-light{
    font-size: 30px;
}
.fa-wind{
    font-size: 30px;
}
.fa-droplet{
    font-size: 30px;
}
.fa-compass{
    font-size: 30px;
}
.fa-eye{
    font-size: 30px;
}
.fa-location-arrow{
    font-size: 30px;
}
.fa-temperature-list{
    font-size: 30px;
}
hr{margin-bottom: 10px;
}
.header h1{
    font-size: 40px;
}
.header{
        position: sticky;
        top: 0;
        background-color: var(--bg-color1);
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;
        padding: 15px, 0;

        & #city_input{
            background-color: var(--bg-color2);
            border: none;
            padding: 12px;
            font-size: 16px;
            border-radius: 25px;
            color: aliceblue;
            &:focus{
                outline: none;
                }
            }
        & #searchBtn{
            border: none;
            font-size: 16px;
            padding: 10px;
            border-radius: 25px;
            background-color: aliceblue;
            cursor: pointer;
}
        & #locationBtn{
            border: none;
            font-size: 16px;
            padding: 10px;
            border-radius: 25px;
            background-color: rgb(207, 203, 240);
            cursor: pointer;
}
    
}

.card{
    background-color:  rgb(111, 101, 204);
    padding: 15px;
    border-radius: 15px;
    margin-bottom: 15px;
    & p{
        font-size: 15px;
        color: aliceblue;
    }
    & h2{
        font-size: 30px;
        font-weight: 600;
    }
}
.weather-data{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 12px;
    & .weather-left{
        grid-column: span 1;
        & .current-weather{
            display: flex;
            justify-content: space-between;
            align-items: center;
            & h2{
                margin: 7px 0;
            }
            & p{
                color: aliceblue;
            }
        }
    & .card-footer p{
        font-size: 14px;
        margin-bottom: 12px;
    }
    & .forecast-item{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        place-items: center;
        margin-bottom: 15px;
        & .icon-wrapper{
            display: flex;
            align-items: center;
        }
    }
}
    & .weather-right{
        grid-column: span 3;
        & h2{
            margin-bottom: 10px;
        }
        & .highlight{
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            column-gap: 15px;
            & .card:nth-of-type(1),
            & .card:nth-of-type(2){
                grid-column: span 2;
            }
            & .card-head{
                display: flex;
                justify-content: space-between;
                margin-bottom: 10px;
                & .air-index{
                    color: #02050c;
                    padding: 5px 10px;
                    border-radius: 15px;
                    &.aqi-1{
                        background-color: var(--aqi-1);
                    }
                    &.aqi-2{
                        background-color: var(--aqi-2);
                    }
                    &.aqi-3{
                        background-color: var(--aqi-3)
                    }
                    &.aqi-4{
                        background-color: var(--aqi-4);
                    }
                    &.aqi-5{
                        background-color: var(--aqi-5);
                    }
                    
                }
            }
            & .air-indice{
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                place-items: center;
                & p{
                    text-align: center;
                }
            }
            & .sunrise-sunset{
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                & .item{
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    & h2{
                        margin-top: 15px;
                    }
                }
            }
            & .card-item{
                display: flex;
                justify-content: space-between;
            }
        }
        & .hourly-forecast{
            display: grid;
            grid-template-columns: repeat(8, 1fr);
            column-gap: 10px;
            & .card{
                text-align: center;
            }
        }
    }
}
@media(max-width: 1100px){
    .weather-data{
        grid-template-columns: repeat(3, 1fr);
        & .weather-right{
            grid-column: span 2;
            & .highlight{
                grid-template-columns: repeat(3, 1fr);
                & .card:nth-of-type(1){
                    grid-column: span 3;
                }
            }
            & .hourly-forecast{
                grid-template-columns: repeat(6, 1fr);
            }
        }
    }
}
@media(max-width: 1040px){
    .weather-data{
        grid-template-columns: repeat(2, 1fr);
        & .weather-right{
            grid-column: span 1;
            & .highlight{
                grid-template-columns: repeat(2, 1fr);
                & .card:nth-of-type(1){
                    grid-column: span 2;
                }
            }
            & .hourly-forecast{
                grid-template-columns: repeat(4, 1fr);
            }
        }
    }
}
@media(max-width: 992px){
    .weather-data .weather-right .highlight{
        & .card{
            grid-column:  span 2;
        }
        & .air-indice{
            grid-template-columns: repeat(3, 1fr);
        }
    }
}
@media(max-width: 850px){
    .weather-data{
        grid-template-columns: 1fr;
        & .weather-right .highlight{
            & .card:nth-of-type(3),
            & .card:nth-of-type(4),
            & .card:nth-of-type(5),
            & .card:nth-of-type(6),
            & .card:nth-of-type(7){
                grid-column: span 1;
            }
            & .air-indice{
                grid-template-columns: repeat(5, 1fr);
            }
        }
    }
}
@media(max-width: 660px){
    .header{
        flex-direction: column;
        & h2{
            margin-bottom: 8px;
        }
        & #city_input, #searchBtn, #locationBtn{
            width: 100%;
            margin-bottom: 10px;
        }
    }
}
@media(max-width: 580px){
    .weather-data .weather-right .highlight .air-indice{
        grid-template-columns: repeat(4, 1fr);
    }
}
@media(max-width: 520px){
    .weather-data .weather-right .highlight{
        & .card:nth-of-type(3),
        & .card:nth-of-type(4),
        & .card:nth-of-type(5),
        & .card:nth-of-type(6),
        & .card:nth-of-type(7){
            grid-column: span 2;
        }
        & .air-indice{
            grid-template-columns: repeat(3, 1fr);
        }
    }
}
@media(max-width: 480px){
    .weather-data .weather-right .highlight .sunrise-sunset{
        grid-template-columns: 1fr;
    }
}
@media(max-width: 450px){
    .weather-data .weather-right .hourly-forecast{
        grid-template-columns: repeat(3, 1fr);
    }
}
@media(max-width: 380px){
    .weather-data .weather-right .highlight .air-indice{
     grid-template-columns: repeat(2, 1fr);
    }
}
.input-dropdown-wrapper {
    position: relative;
    width: 100%;
    transition: all 0.3s ease; 
}


#city_input {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    border: none;
    border-radius: 25px 25px 0 0; /* Rounded corners at the top */
    color: aliceblue;
    background-color: var(--bg-color2);
}

#city_input:focus {
    outline: none;
}

#recentCitiesDropdown {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: var(--bg-color2);
    color: aliceblue;
    border: none;
    border-radius: 0 0 25px 25px; /* Rounded corners at the bottom */
    display: none; /* Initially hidden */
    z-index: 1;
    max-height: 150px; /* Limit the height */
    overflow-y: auto; /* Scroll if too many items */
}

.input-dropdown-wrapper.open #recentCitiesDropdown {
    display: block;
}
